################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
*.aps
/.vs/v6a/v14/.suo
